{% extends 'base.html' %}
{% block title %}Dictionary{% endblock title %}

{% block content %}
<style>
  .container {
    display: flex;
    align-items: center;
    justify-content: center;

  }
</style>
{% include 'inc\search-field.html' %}
<div>
  <span class="container">
    <h1 style="font-size: xx-large;">{{ word }} </h1>
  </span>


    {% if empty_response is False %}
    <span class="container">
    <ul>
      {% for key,meanings in meanings.items %}
      <li>
        <p style="font-size:x-large;">{{ key }}</p>
      </li>
      <ol>
        {% for value in meanings %}
        <li>
          <p style="font-size: large;">{{ value }}</p>
        </li>
        {% endfor %}
      </ol>  
      {% endfor %}  
      </ul>
      {% elif empty_response is True %}
      
      <p style="color:#f15b42;font-size: x-large;text-align: center;">such word doesn't exist in our dictionary</p>
     
    
    {% endif %}
  
</div>
{% endblock content %}