{% extends 'base.html' %}
{% block title %}Dictionary{% endblock title %}

{% block content %}

{% include 'inc/search-field.html' %}

{% if flag==True %}
<div class="container">

  {% for speech, definitions in meanings.items() %}
  <fieldset class="block">

    <legend>
      <h4>{{ speech }}</h4>
    </legend>
    {% for def in definitions %}
    <p>{{def}}</p>
    {% endfor %}
  </fieldset>
  {% endfor %}

</div>

{% elif flag==False %}
<div class="cotainer">
  <p class="error-text">WE DON'T KNOW SUCH WORD</p>
</div>
{% endif %}

{% endblock content %}